<div>
<button class="btn btn-primary" (click)="logOut()">
    <span class="spinner-border spinner-border-sm mr-1"></span>
    Logout
</button>
</div>
<div class="mt-2">
<button class="btn btn-primary" (click)="gotoMember()">
    <span class="spinner-border spinner-border-sm mr-1"></span>
    check member List
</button>
</div>
<!-- <div class="dropdown" *ngIf="(accountservice.currentUser$  | async) as user" dropdown>
    <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>Welcome {{user}}</a>
    <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" (click)="logOut()">Logout</a>
    </div>
</div> -->